@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Share+Tech+Mono&display=swap');
$Font: 'Roboto', sans-serif;
$fontTitle: 'Share Tech Mono', monospace;

body {
    font-family: $Font;
}