@font-face {
  font-family: "Gidole-Regular";
  src: url("./base/Gidole/Gidole-Regular.ttf.woff") format("woff"), url("./base/Gidole/Gidole-Regular.ttf.svg#Gidole-Regular") format("svg"), url("./base/Gidole/Gidole-Regular.ttf.eot"), url("./base/Gidole/Gidole-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.badges {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: nowrap;
  font-size: 2em;
  color: #FFF;
  /* Show the arrow and content and restore pointer events when hovering the trigger element */
}
.badges i {
  padding: 0 5px 0 5px;
}
.badges .tooltip {
  /* Used to position the arrow */
  position: relative;
}
.badges .tooltip:hover .tooltip__arrow,
.badges .tooltip:hover .tooltip__content {
  opacity: 1;
  pointer-events: initial;
  transition: all 0.3s;
}
.badges .tooltip__arrow {
  /* Invisible by default */
  opacity: 0;
  /* To prevent accidental interactions with other elements  */
  pointer-events: none;
  /* Border */
  border: 0.52rem solid transparent;
  border-top-color: #111827;
  /* Position */
  bottom: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 8px);
  /* Zero size */
  height: 0;
  width: 0;
  /* Displayed on top of other element */
  z-index: 10;
  transition: all 0.3s;
}
.badges .tooltip__content {
  /* Invisible by default */
  opacity: 0;
  /* To prevent accidental interactions with other elements  */
  pointer-events: none;
  /* Background color, must be the same as the border color of arrow */
  background-color: #111827;
  border-radius: 0.25rem;
  padding: 5px;
  /* Position */
  bottom: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -8px);
  color: #E97925;
  /* Displayed on top of other element */
  z-index: 10;
  transition: all 0.3s;
}

.content-box {
  width: 70%;
  height: 75%;
  margin: 20px auto;
  background: rgba(10, 9, 8, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding-bottom: 25px;
}

@media (orientation: portrait) {
  .content-box {
    width: 100%;
  }
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-bottom: 2px solid #E97925;
}

/* NAVBAR */
@media (orientation: landscape) {
  header {
    justify-content: flex-end;
  }
  header ul {
    margin: 0 10px 0 0;
  }
  .nav-link a {
    border-left: 2px solid #E97925;
  }
}
@media (orientation: portrait) {
  header {
    justify-content: center;
  }
  header ul {
    margin: 0;
  }
  .nav-link a {
    border-left: 2px solid #E97925;
  }
  .nav-link:last-of-type a {
    border-right: 2px solid #E97925;
  }
}
header ul {
  padding: 0px;
  display: inline-flex;
}

.nav-link a {
  text-decoration: none;
  color: #E97925;
  padding: 15px;
}

.nav-link:hover {
  background-color: #E97925;
}

.nav-link {
  list-style-type: none;
  text-shadow: 0 0 3px #573cb9;
  padding: 15px 0px 15px 0px;
  color: #FFF;
}

.nav-link:hover a {
  color: #FFF;
}

#mainPage {
  background-image: linear-gradient(39deg, rgb(87, 60, 185) 0%, rgb(25, 19, 43) 25%, rgb(10, 9, 8) 50%, rgb(25, 19, 43) 75%, rgb(87, 60, 185) 100%);
}

/* About Section */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#about h1 {
  font-family: "Gidole-Regular";
  color: #FFF;
}
#about p {
  color: #E97925;
}

@media (orientation: portrait) {
  #about h1 {
    font-size: 10vw;
  }
  #about p {
    font-size: 6vw;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .contact-card {
    font-size: 2rem;
  }
  #contact h1 {
    font-size: 4rem;
  }
  #contact p {
    font-size: 3rem;
  }
}
@media (orientation: landscape) {
  #about h1 {
    font-size: 6vw;
  }
  #about p {
    font-size: 4vw;
  }
  .contact-info {
    flex-wrap: nowrap;
  }
  .contact-info div {
    display: flex;
    flex-direction: row;
  }
  #contact h1 {
    font-size: 5vw;
  }
  #contact p {
    font-size: 3vw;
  }
  .contact-card {
    font-size: 2vw;
  }
}
/* Contact */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#contact h1 {
  color: #573cb9;
}
#contact p {
  color: #FFF;
}
#contact .contact-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact .contact-info .contact-card {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  padding: 15px;
  margin: 0px 5px 0px 5px;
  color: #FFF;
  border-radius: 15px;
  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}
#contact .contact-info .contact-card img {
  margin-right: 5px;
}
#contact .contact-info .contact-card:hover {
  color: #0A0908;
  background-color: #E97925;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Projects Section */
#projects {
  align-items: center;
  text-align: center;
}

.diagonal-section {
  /* Used to position the diagonal area */
  position: relative;
  z-index: 2;
  /* Cards */
}
.diagonal-section .diagonal-section__diagonal {
  /* Absolute position */
  left: 0px;
  position: absolute;
  top: -30px;
  /* Take full size */
  height: 90%;
  width: 100%;
  /* Create diagonal sides */
  transform: skewY(-3deg);
  /* Background color */
  background-color: #E97925;
  border-top: 2px solid #0A0908;
  border-bottom: 2px solid #0A0908;
  /* Displayed under the main content */
  z-index: -1;
}
.diagonal-section h2 {
  color: #0A0908;
  font-size: 3vw;
  padding-top: 40px;
  margin: 50px 0 75px 0;
}
.diagonal-section .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;
}

@media (orientation: portrait) {
  .diagonal-section .diagonal-section__diagonal {
    height: 110%;
  }
  .diagonal-section h2 {
    font-size: 4.5vw;
  }
  .diagonal-section #card-container {
    width: 100%;
  }
}
.card {
  background: rgba(10, 9, 8, 0.5);
  width: 280px;
  height: 460px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 1s;
}
.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  scale: 1.01;
}
.card .project-title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Gidole-Regular", Arial, Helvetica;
}
.card .content {
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}
.card .content .origin {
  margin: 0;
  padding: 0;
  font-size: smaller;
  color: #CCCCCC;
}
.card .content .description {
  margin: 0;
  padding: 0;
}

#more {
  margin: auto;
  font-size: 14rem;
}
#more i {
  width: 224px;
  border: 4px solid #FFF;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
#more p {
  font-size: 2rem;
  margin: auto;
}

#portfolioPage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(39deg, rgb(204, 109, 67) 0%, rgb(159, 90, 113) 33%, rgb(119, 73, 153) 66%, rgb(87, 60, 185) 100%);
}

#projectArticle {
  width: 85%;
  border: 2px solid #CCCCCC;
  margin: 60px auto 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: #573cb9;
}
#projectArticle img {
  max-width: 15rem;
  margin: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/12;
}
#projectArticle #info-box {
  border-left: 2px solid #CCCCCC;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(87, 60, 185) 0%, rgb(25, 19, 43) 8%, rgb(10, 9, 8) 50%, rgb(25, 19, 43) 92%, rgb(87, 60, 185) 100%);
}
#projectArticle #info-box h2 {
  margin: 10px 0 0 0;
  text-align: center;
  color: #E97925;
  font-family: "Gidole-Regular", Arial, Helvetica;
  font-size: 2.5em;
}
#projectArticle #info-box h3 {
  text-align: center;
  color: #CCCCCC;
  margin: 0 25px;
}
#projectArticle #info-box p {
  width: 75%;
  color: #FFF;
  margin: 15px auto 0 auto;
  text-align: justify;
}

#certificates {
  font-size: 4vw;
  color: #FFF;
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: "Gidole-Regular", Arial, Helvetica;
}

.accordion {
  /* Border */
  border: 1px solid #d1d5db;
  border-bottom-color: transparent;
  border-radius: 4px;
  color: #FFF;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 95%;
  margin: auto;
  background-color: rgba(10, 9, 8, 0.5);
  border-bottom: 1px solid #d1d5db;
}
.accordion .accordion__button {
  margin-right: 12px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #FFF;
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  /* Take remaining width */
  flex: 1;
  align-items: center;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.accordion .accordion__content {
  display: flex;
  height: 0px;
  overflow: hidden;
}
.accordion .accordion__content-active {
  border-top: 1px solid #d1d5db;
  padding: 16px;
  display: flex;
  height: auto;
}
.accordion .accordion__content-active img {
  height: auto;
  width: 35vw;
  margin-right: 20px;
}
.accordion .accordion__content-active .text {
  display: block;
}
.accordion .accordion__content-active .text .date {
  padding-left: 10px;
  color: #CCCCCC;
}
.accordion .accordion__content-active .text h3 {
  color: #E97925;
}
.accordion .accordion__content-active .text ul {
  list-style-type: circle;
}

#contactForm .content-box h2 {
  margin: 15px;
  text-align: center;
  color: #FFF;
  font-size: xx-large;
}
#contactForm .content-box form {
  display: flex;
  align-self: center;
  flex-direction: column;
  color: #FFF;
  width: 65%;
}
#contactForm .content-box form .input {
  padding: 5px 15px;
  background-color: #FFF;
  color: #0A0908;
  border: 0;
  border-radius: 15px;
  font-size: larger;
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
}
#contactForm .content-box form #name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  margin: 0 0 5px 10px;
}
#contactForm .content-box form #email {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  margin: 10px 0 5px 10px;
}
#contactForm .content-box form #message {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  margin: 10px 0 5px 10px;
}
#contactForm .content-box form #submitbtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 35px;
  border-radius: 15px;
  border: 0;
  background-color: #E97925;
  align-self: center;
  font-size: large;
  color: #FFF;
  margin-top: 15px;
}
#contactForm .content-box form #submitbtn:active {
  background-color: greenyellow;
}
#contactForm .content-box form #submitbtn:disabled {
  background-color: #573cb9;
  color: #0A0908;
}
#contactForm .content-box form .sent {
  background-color: #FFF;
  color: #0A0908;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  padding: 15px;
  border-radius: 25px;
  transition: opacity 0.5s;
}
#contactForm .content-box form .hidden {
  opacity: 0;
}

#aboutme img {
  height: 50vw;
  max-height: 400px;
  width: auto;
  aspect-ratio: 1/1;
  margin: 15px auto 15px auto;
  border-radius: 50%;
  border: 5px solid #E97925;
}
#aboutme .box {
  color: #FFF;
}
#aboutme .box h1 {
  text-align: center;
  margin: 0;
  font-size: 3.5vw;
}
#aboutme .box h3 {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 2vw;
  color: #E97925;
  text-align: center;
}
#aboutme .box h4 {
  margin-left: 25px;
  font-size: larger;
}
#aboutme .box .father-list {
  padding-left: 2rem;
  list-style-type: none;
  width: 75%;
  margin: auto;
}
#aboutme .box .father-list li {
  border: 1px solid #FFF;
  padding: 5px;
  border-radius: 5px;
  background-color: #573cb9;
  margin-bottom: 5px;
}
#aboutme .box .father-list .clicked {
  background-color: #E97925;
  color: #0A0908;
  margin-bottom: 0;
}
#aboutme .box .father-list .active {
  display: block;
  padding-left: 10px;
  height: auto;
  transition: all 0.33s;
  visibility: visible;
  opacity: 1;
}
#aboutme .box .father-list .active li {
  margin-bottom: 0;
  list-style-type: none;
}
#aboutme .box .father-list .active li:last-child {
  margin-bottom: 15px;
}
#aboutme .box .father-list .active li .linkBtn {
  background-color: #E97925;
  color: #FFF;
  padding: 3px 12px;
  border-radius: 5px;
  font-family: "Gidole-Regular", Arial, Helvetica;
  margin: 5px;
  text-decoration: none;
  font-size: x-large;
}
#aboutme .box .father-list .collapsed {
  display: block;
  transition: all 0.33s;
  overflow: hidden;
  height: 0px;
}

@media (orientation: portrait) {
  #aboutMe .box {
    width: 95%;
  }
  #aboutMe .box h1 {
    font-size: 5vw;
  }
  #aboutMe .box h3 {
    font-size: 4vw;
  }
}
footer {
  background-color: #0A0908;
  color: #FFF;
  margin: 0;
  font-family: "Candara";
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
  border-top: 2px solid #E97925;
}
footer p {
  margin: 0;
}
footer a {
  margin: 0;
  text-decoration: none;
  color: #FFF;
}
footer .license {
  border-width: 0;
}

@media (orientation: landscape) {
  footer {
    font-size: 1vw;
  }
}
@media (orientation: portrait) {
  footer {
    font-size: 2vw;
  }
}
main {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

section {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */