#aboutme {
    img {
        height: 50vw;
        max-height: 400px;
        width: auto;
        aspect-ratio: 1/1;
        margin: 15px auto 15px auto;
        border-radius: 50%;
        border: 5px solid $accentOrange;
    }

    .box {
        color: $textColorWhite;

        h1 {
            text-align: center;
            margin: 0;
            font-size: 3.5vw;
        }

        h3 {
            margin: 0;
            font-family: $codeFont;
            font-size: 2vw;
            color: $accentOrange;
            text-align: center;
        }

        h4 {
            margin-left: 25px;
            font-size: larger;
        }

        .father-list {
            padding-left: 2rem;
            list-style-type: none;
            width: 75%;
            margin: auto;

            li {
                border: 1px solid $textColorWhite;
                padding: 5px;
                border-radius: 5px;
                background-color: $accentPurple;
                margin-bottom: 5px;
            }

            .clicked {
                background-color: $accentOrange;
                color: $textColorBlack;
                margin-bottom: 0;
            }

            .active {
                display: block;
                padding-left: 10px;
                height: auto;
                transition: all 0.33s;
                visibility: visible;
                opacity: 1;

                li {
                    margin-bottom: 0;
                    list-style-type: none;

                    &:last-child {
                        margin-bottom: 15px;
                    }

                    .linkBtn {
                        background-color: $accentOrange;
                        color: $textColorWhite;
                        padding: 3px 12px;
                        border-radius: 5px;
                        font-family: $titleFont;
                        margin: 5px;
                        text-decoration: none;
                        font-size: x-large;
                    }
                }
            }

            .collapsed {
                display: block;
                transition: all 0.33s;
                overflow: hidden;
                height: 0px;
            }
        }
    }

}

@media (orientation: portrait) {
    #aboutMe {
        .box {
            width: 95%;

            h1 {
                font-size: 5vw;
            }

            h3 {
                font-size: 4vw;
            }
        }
    }
}