#aboutme {
    .content-box {
        width: 70%;
        height: 75%;
        margin: 20px auto;
        background: $darken-background;
        display: flex;
        flex-direction: column;
        border-radius: 25px;

        img {
            height: 400px;
            width: 400px;
            aspect-ratio: 1/1;
            margin: 15px auto 15px auto;
            border-radius: 50%;
            border: 5px solid $accentOrange;
        }

        .box {
            color: $textColorWhite;

            h1 {
                text-align: center;
                margin: 0;
                font-size: 3.5vw;
            }

            h4 {
                margin: 50px 25px 10px;
                font-family: $codeFont;
                font-size: 2vw;
            }

            .father-list {
                padding-left: 50px;
                list-style-type: none;
                width: 75%;
                margin: auto;

                li {
                    border: 1px solid $textColorWhite;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $accentPurple;
                    margin-bottom: 5px;
                }

                .clicked {
                    background-color: $accentOrange;
                    color: $textColorBlack;
                    margin-bottom: 0;
                }

                .active {
                    display: block;
                    padding-left: 10px;
                    height: auto;
                    transition: all 0.33s;
                    visibility: visible;
                    opacity: 1;

                    li {
                        margin-bottom: 0;
                        list-style-type: none;

                        &:last-child {
                            margin-bottom: 15px;
                        }
                    }
                }

                .collapsed {
                    display: block;
                    transition: all 0.33s;
                    overflow: hidden;
                    height: 0px;
                }
            }
        }

    }

}