#certificates {
    font-size: 4vw;
    color: $textColorWhite;
    text-align: center;
    margin: 10px 0 10px 0;
    font-family: $titleFont;
}

.accordion {
    /* Border */
    border: 1px solid #d1d5db;
    border-bottom-color: transparent;
    border-radius: 4px;
    color: $textColorWhite;
    font-family: $codeFont;
    width: 95%;
    margin: auto;
    background-color: $darken-background;
    border-bottom: 1px solid #d1d5db;

    .accordion__button {
        margin-right: 12px;
        font-family: $codeFont;
        color: $textColorWhite;
        background: none;
        border: none;
        display: flex;
        cursor: pointer;
        /* Take remaining width */
        flex: 1;
        align-items: center;
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }

    .accordion__content {
        display: flex;
        height: 0px;
        overflow: hidden;
    }

    .accordion__content-active {
        border-top: 1px solid #d1d5db;
        padding: 16px;
        display: flex;
        height: auto;

        img {
            height: auto;
            width: 35vw;
            margin-right: 20px;
        }

        .text {
            display: block;

            .date {
                padding-left: 10px;
                color: $textColorGrey
            }

            h3 {
                color: $accentOrange;
            }

            ul {
                list-style-type: circle;
            }
        }
    }
}