#home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 100vh;

  img {
    display: none;
    padding-bottom: 10rem;
  }

  .title {
    margin: 0;
    grid-area: 2 / 1 / 4 / 3;
    color: $orange;
    align-self: center;
    font-size: 2rem;
    font-size: clamp(2rem, -0.5714285714285716rem + 3.8095238095238098vw, 4rem);

    .whiteText {
      color: $white;
    }
  }

  @media (max-width: 425px) {


    .title {
      grid-area: 2 / 1 / 4 / 5;

      >.rainbow_anim {
        font-size: 1.8rem;
        font-size: clamp(1.8rem, 1.4000000000000001rem + 1.9999999999999998vw, 2rem);
      }
    }

    .btns {
      grid-area: 4 / 1 / 5 / 5;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  @media (min-width: 426px) {
    img {
      display: block;
      grid-area: 2 / 3 / 6 / 5;
      aspect-ratio: 1.27/1;
      max-width: 100%;
      place-self: center;
    }

    .btns {
      grid-area: 4 / 1 / 5 / 3;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }






  button {
    position: relative;
    display: inline-block;

    width: 6rem;
    width: clamp(6rem, 4rem + 10vw, 7rem);
    height: 3rem;
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 0.4999999999999998rem + 1.0000000000000009vw, 0.8rem);

    @media (min-width: 1920px) {
      width: 10rem;
      font-size: 1rem;
    }

    border: 2px solid $orange;
    background-color: transparent;
    color: $white;
    overflow: hidden;
    z-index: 1;
    scale: 1;
    transition: scale 50ms ease-in;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -5%;
      left: -5%;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: -1;
      content: '';
      background-color: $orange;
      transition: transform .3s;
      width: 110%;
      height: 180%;
      transform-origin: left bottom;
      transform: skewY(-10deg) scale(1, 0);
    }

    &:hover::before {
      transform-origin: left top;
      transform: skewY(-10deg) scale(1, 1);
    }

    &:active {
      scale: 0.9;
      transition: scale 50ms ease-out;
    }
  }
}