#portfolio {

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: $fontTitle;
        color: $white;
    }

    .container {
        display: flex;
        flex-direction: row;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overflow: scroll visible;
        box-sizing: border-box;
        padding: 0.5rem 2rem 2rem;
    }
}