/* mini fixes */
.no-margin {
  margin: 0px;
}

header {
  background-color: var(--alternative-accent);
  width: 100%;
}
/* NAVBAR */
@media (orientation: landscape){
  header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
  }
  header ul {
    margin: 0 10px 0 0;
  }
}
@media (orientation: portrait) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  header ul {
    margin: 0;
  }
}
header ul {
  padding: 0px;
  display: inline-flex; 
}
.nav-link a {
  text-decoration: none;
  color: var(--main-dark);
  padding: 15px;
}
.nav-link:hover {
  background-color: var(--darker-dark);
  color: var(--accent-color);
}
.nav-link {
  list-style-type: none;
  text-shadow: 0 0 3px var(--alternative-accent);
  padding: 15px 0px 15px 0px;
  color: var(--main-white);
}
.nav-link:hover a {
  color: var(--main-accent);
}