@import '../variables.scss';

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-bottom: 2px solid $accentOrange;
}
/* NAVBAR */
@media (orientation: landscape){
  header {
    justify-content: flex-end;
  }
  header ul {
    margin: 0 10px 0 0;
  }
}
@media (orientation: portrait) {
  header {
    justify-content: center;
  }
  header ul {
    margin: 0;
  }
}
header ul {
  padding: 0px;
  display: inline-flex; 
}
.nav-link a {
  text-decoration: none;
  color: $accentOrange;
  padding: 15px;
  border-left: 2px solid $accentOrange;
}
.nav-link:hover {
  background-color: $accentOrange;
}
.nav-link {
  list-style-type: none;
  text-shadow: 0 0 3px $accentPurple;
  padding: 15px 0px 15px 0px;
  color: $textColorWhite;
}
.nav-link:hover a {
  color: $textColorWhite;
}