$backgroundGradient: linear-gradient(39deg, rgba(87,60,185,1) 0%, rgba(25,19,43,1) 25%, rgba(10,9,8,1) 50%, rgba(25,19,43,1) 75%, rgba(87,60,185,1) 100%);

$accentOrange: #E97925;
$accentPurple: #573cb9;
$textColorWhite: #FFF;
$textColorGrey: #CCCCCC;
$textColorDarkGrey: #484746;
$textColorBlack: #0A0908;