/* Section */
section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
}

@media (orientation: portrait) {
  #projects h2 {
    font-size: 4.85vw;
  }
  #card-container {
    width: 100%;
  }
  .contact-info {
    flex-wrap: wrap;
  }
}
@media (orientation: landscape) {
  #projects h2 {
    font-size: 2.5rem;
  }
  #card-container {
    width: 90%;
  }
  .contact-info {
    flex-wrap: nowrap;
  }
  .contact-info div {
    display: flex;
    flex-direction: row;
  }
}

/* About Section */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;    
  background: linear-gradient(30deg, rgba(34,40,49,1) 25%, rgba(57,62,70,1) 100%);
}
#about h1 {
  font-size: 6vw;
  color: var(--accent-color)
}
#about p {
  font-size: 4vw;
  color: var(--main-white);
}

/* Projects Section */
#projects {
  padding-top: 50px;
  align-items: center;
  text-align: center;
  background-color: var(--alternative-accent);
}
#projects h2 {
  color: var(--main-white);
  margin: 50px 0 25px 0;
}
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Contact */
#contact {
  background: var(--main-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;    
  flex-direction: column;
}
#contact h1 {
  font-size: 5vw;
  color: var(--accent-color)
}
#contact p {
  font-size: 3vw;
  color: var(--main-white);
}
.contact-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-card {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 15px;
  margin: 0px 5px 0px 5px;
  font-size: 2vw;
  color: var(--main-white);
  transition: color 0.5s, background-color 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.contact-card img {
  margin-right: 5px;
}
.contact-card:hover {
  color: var(--accent-color);
  background-color: var(--alternative-accent);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}