.card {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 335px;
    border-radius: 30px;
    overflow: hidden;
    cursor: default;

    ::selection {
        background-color: transparent;
    }

    .one {
        position: absolute;
        width: 600px;
        height: 600px;
        background: linear-gradient(to right,
                rgb(255, 255, 255, 0.8),
                rgb(255, 16, 240, 0.8));
        bottom: 0;
        right: 0;
        border-radius: 50%;
        transform: translate(100px);
        filter: blur(50px);
        animation: rotate 15s linear infinite;
    }

    .two {
        position: absolute;
        width: 600px;
        height: 600px;
        background: linear-gradient(to right,
                transparentize($purple, 0.2),
                transparentize($orange, 0.2));
        top: 0;
        left: 0;
        border-radius: 50%;
        filter: blur(50px);
        animation: rotate-2 10s infinite;
    }

    .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        color: $white;
        width: calc(100% - 10px);
        max-width: 240px;
        height: 325px;
        margin: 5px 0 0 5px;
        border-radius: 26px;
        transition: 0.2s linear;

        svg {
            aspect-ratio: 1/1;
            min-width: 75px;
            max-width: 75px;
            min-height: 75px;
            max-height: 75px;
            margin-top: 2rem;
        }

        h3 {
            color: $orange;
            font-size: 1.5rem;
        }

        p {
            box-sizing: border-box;
            padding: 0 15px;
            margin-top: -15px;
            text-align: justify;
        }

        &:hover {
            background-color: rgb(0, 0, 0, 0.4);
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotate-2 {
    100% {
        transform: rotate(-1turn);
    }
}

@keyframes spin {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(1turn);
    }
}