.content-box {
    width: 70%;
    height: 75%;
    margin: 20px auto;
    background: $darken-background;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 25px;
}

@media (orientation: portrait) {
    .content-box {
        width: 100%;
    }
}