.ribbon {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    height: 2rem;
    width: 50%;
    margin: auto;
    /* Use to position the corners */
    position: relative;

    .ribbon__content {
        /* Background color */
        background-color: $accentOrange;
        z-index: 1;
        height: 100%;
        width: 100%;


        h3 {
            margin: calc(2rem - 32px);
            height: 100%;
            display: flex;
            align-self: baseline;
            justify-content: center;
        }
    }

    .ribbon__side {
        bottom: -0.5rem;
        position: absolute;

        /* Displayed under the ribbon */
        z-index: 1;

        /* Background */
        border: 1rem solid $accentOrange;
    }

    .ribbon__side--l {
        /* Position */
        left: -1.5rem;
        border-color: $accentOrange $accentOrange $accentOrange transparent;
    }

    .ribbon__side--r {
        /* Position */
        right: -1.5rem;
        border-color: $accentOrange transparent $accentOrange $accentOrange;
    }

    .ribbon__triangle {
        position: absolute;
        top: 100%;

        border: 0.5rem solid transparent;
        border-bottom-width: 0;
        border-top-color: $accentOrange;
    }

    .ribbon__triangle--l {
        border-right-width: 0;
        left: 0;
    }

    .ribbon__triangle--r {
        border-left-width: 0;
        right: 0;
    }
}