footer {
    background-color: $textColorBlack;
    color: $textColorWhite;
    margin: 0;
    font-family: $bodyFont;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    border-top: 2px solid $accentOrange;

    p {
        margin: 0;
    }

    a {
        margin: 0;
        text-decoration: none;
        color: $textColorWhite;
    }

    .license {
        border-width: 0
    }
}

@media (orientation: landscape) {
    footer {
        font-size: 1vw;
    }
}

@media (orientation: portrait) {
    footer {
        font-size: 2vw;
    }
}