#projects {
  align-items: center;
  text-align: center;
}

.diagonal-section {
  /* Used to position the diagonal area */
  position: relative;

  .diagonal-section__diagonal {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: -30px;
    /* Take full size */
    height: 90%;
    width: 100%;
    /* Create diagonal sides */
    transform: skewY(-3deg);
    /* Background color */
    background-color: $accentOrange;
    border-top: 2px solid $textColorBlack;
    border-bottom: 2px solid $textColorBlack;
    /* Displayed under the main content */
    z-index: -1;
  }

  h2 {
    color: $textColorBlack;
    font-size: 3vw;
    padding-top: 40px;
    margin: 50px 0 75px 0;
  }

  /* Cards */
  #card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
  }
}

@media (orientation: portrait) {
  .diagonal-section {
    .diagonal-section__diagonal {
      height: 110%;
    }

    h2 {
      font-size: 4.5vw;
    }

    #card-container {
      width: 100%;
    }
  }
}